# Файлы и папки ОС/редакторов
.DS_Store
.idea/
.vscode/
*.log

# Зависимости и кэш
/node_modules/
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment-файлы
.env*.local
.env
.sass-cache

# Артефакты сборки и тестирования
/build/
/dist/
/out/
.next/
/coverage

# Прочее
*.tmp
*.bak